<table class="itemstable"><tr class="line_item"><th>Category</th><th>Description</th><th>Qty</th><th>Rate</th><th>Total</th><th>Edit</th><th>Delete</th></tr>
<% @purchase_order.po_line_items.each do |line_item| %>
<tr><td><%= line_item.category.name %></td><td><%= line_item.purchasing_variant.name %></td><td><%= line_item.quantity %></td><td><%= Spree::Money.new(line_item.cost_price) %></td><td><%= Spree::Money.new(line_item.quantity * line_item.cost_price) %></td><td><%= link_to "Edit", edit_admin_po_line_item_path(line_item.id) %></td><td><%= link_to "Delete", admin_po_line_item_path(line_item.id), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
</td></tr>
<% end %>
